/* Google Fonts */
/* latin-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Root Elements */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    opacity: 1 !important;
    background: #1e1e1e;
}

/* Helpers */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vhelper {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    margin-top: 10px;
}

.red {
    color: #C8102E !important;
}

.redbg {
    background: #C8102E !important;
}

/* Components */

section {
    padding: 60px 15px;
}

section:first-child {
    padding: 0;
}

section .headerBlock {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    padding-bottom: 50px;
    margin: 0;
    letter-spacing: 3px;
    margin-left: 3px;
}

.blockquote {
    border-color: #C8102E;
    font-style: italic;
}

/* Navigation */

.navwrapper {
    height: 60px;
    margin: 0;
    padding: 0;
}

.navbar-inverse {
    background: #222;
    height: 60px;
    width: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
    z-index: 999999;
}

.navbar-collapse.collapse {
    text-align: center;
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-collapse.collapsing {
    text-align: center;
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

.navbar-nav li > a {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff !important;
    line-height: 30px;
}

.navbar-toggle {
    margin: 14px;
    float: left;
}

.navbar-collapse.collapse.in,
.navbar-collapse.collapsing {
    background: #C8102E;
}

/* Home */

.home {
    height: calc(100% - 60px);
    height: calc(100vh - 60px);
    /*min-height: 480px;*/
    max-height: 1440px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home .container {
    padding: 0 3rem;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 500;
}

.home .branding {
    max-width: 800px;
    margin: 10rem auto;
    margin-bottom: 1rem;
    text-align: center;
    z-index: 100;
}

.home .headlines {
    margin: 0 5%;
}

.home h1,
.home h2,
.home h3 {
    font-weight: 300;
    color: #ddd;
    font-size: 72px;
    z-index: 100;
    text-shadow: 0px 2px 4px rgba(30, 30, 30, 0.5);
    margin: 10px 0;
}

.home h2 {
    font-weight: 700;
    font-size: 36px;
}

.home h2 .university {
    font-weight: 400;
}

.home h2 .of {
    font-weight: 300;
}

.home h3 {
    font-size: 28px;
    width:75%;
    margin: auto;
}

.home #logo {
    width: 100%;
}

.home .btn-signup,
.home .btn-signup:hover,
.home .btn-signup:active {
    padding: 15px 30px;
    font-size: 24px;
    color: #fff;
    outline: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(30, 30, 30, 0.5);
}

.home .btn-signup:hover {
    background: #960C22;
}

.home .btn-signup:active {
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

.home .btn-signup i {
    margin-right: 15px;
}

.spaceObjects {
    height: 100%;
    /*width: 100%;*/
    max-width: 60em;
    max-height: 60em;
    background: transparent;
    z-index: -1;
    margin: 0 auto;
}

.rocket {
    position: absolute;
    left: 0;
    bottom: 25%;
    max-width: 170px;
    -webkit-transform: translate3d(5em, 0, 0) rotate(55deg);
    transform: translate3d(5em, 0, 0) rotate(55deg);
    z-index: 0;
}

.fuselage {
    display: block;
    width: 12em;
    height: 13em;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: rocket-ani .8s linear infinite;
    animation: rocket-ani .8s linear infinite;
}

.contrail {
    position: absolute;
    top: 12.1em;
    left: 1em;
}

.tail {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 3em;
    border-width: 4em 1em 0 1em;
    border-style: solid;
    border-color: #D89B00 transparent;
    -webkit-animation: flame-ani-lg 3s ease-in-out infinite;
    animation: flame-ani-lg 3s ease-in-out infinite;
    z-index: -1;
}

.flame {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -6em;
    left: -1em;
    border-width: 4em 1em 0 1em;
    border-style: solid;
    border-color: #F6BE00 transparent;
    -webkit-animation: flame-ani 1.5s ease-in-out infinite;
    animation: flame-ani 1.5s ease-in-out infinite;
}

.planet {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 60em;
    max-height: 60em;
    position: relative;
    bottom: -75%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: planet-rotate-ani 45s linear infinite;
    animation: planet-rotate-ani 45s linear infinite;
    z-index: 0;
}

.pg-canvas {
    z-index: -1;
    position: absolute;
}

/* About */

.about {
    background: #eee;
}

.about .headerBlock {
    color: #C8102E !important;
}

.about p {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

.about h1 {
    padding: 30px 0;
}

.about .catch {
    text-transform: uppercase;
    padding: 60px 0;
}

.aboutnode {
    padding: 20px;
}

.aboutnode i, h2 {
    color: #333;
}

/* Mission */

.mission {}

.mission .headerBlock {
    color: #fff !important;
}

.mission * {
    color: #fff;
}

/* FAQ */

.faq {}

.faq .headerBlock {
    color: #fff !important;
}

.faq h4 {
    font-size: 24px;
    color: #ddd !important;
}

.faq p {
    font-size: 16px;
}

.faq * {
    color: #999;
}

/* Sponsors */

.sponsors {
    background: #fff;
}

.sponsors .headerBlock {
    color: #C8102E !important;
}

.sponsors .logos {
    margin-top: 20px;
}

.sponsornode {
    margin-bottom: 20px;
}

#partners {
    margin-top: 60px;
}

/* Footer */

.footer {
    background: #1e1e1e;
    color: #fff;
    font-size: 24px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .home {
        height: 100%;
        height: 100vh;
    }
    .navwrapper {
        height: 0;
    }
    .navbar-inverse {
        display: none;
    }
}

@media screen and (max-width: 768px) and (max-height: 768px) {
    .home {
        height: 100%;
    }
    .home .branding {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .home .btn-signup,
    .home .btn-signup:hover,
    .home .btn-signup:active {
        padding: 15px 20px;
        font-size: 20px;
    }
    .rocket {
        bottom: 20%;
        -webkit-transform: scale(0.75) translate3d(5em, 0, 0) rotate(55deg);
        transform: scale(0.75) translate3d(5em, 0, 0) rotate(55deg);
    }
    .planet {
        bottom: -60%;
    }
}

@media screen and (max-width: 320px) and (max-height: 767px) {
    .rocket {
        -webkit-transform: scale(0.5) translate3d(5em, 0, 0) rotate(55deg);
        transform: scale(0.5) translate3d(5em, 0, 0) rotate(55deg);
    }
    .planet {
        bottom: -60%;
    }
}

@media screen and (max-height: 640px) and (min-width: 768px) {
    .home .branding {
        transform: scale(0.6);
        margin: 0 auto;
    }
    .rocket {
        bottom: 15%;
        -webkit-transform: scale(0.75) translate3d(5em, 0, 0) rotate(55deg);
        transform: scale(0.75) translate3d(5em, 0, 0) rotate(55deg);
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) and (min-height: 320px) and (max-height: 480px) {
    .home .branding {
        transform: scale(0.6);
        margin: 0 auto;
    }
    .rocket {
        bottom: 10%;
        -webkit-transform: scale(0.5) translate3d(3em, 0, 0) rotate(55deg);
        transform: scale(0.5) translate3d(3em, 0, 0) rotate(55deg);
    }
    .planet {
        bottom: -75%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) and (min-height: 720px) and (max-height: 800px) {
    .home .branding {
        margin: 3rem auto;
    }
}

@media screen and (min-width: 420px) and (max-width: 500px) and (min-height: 800px) and (max-height: 880px) {
    .planet {
        bottom: -60%;
    }
}

@media screen and (min-height: 1024px) {
    .home .branding {
        margin: 5rem auto;
    }
    .planet {
        bottom: -90%;
    }
}

@media screen and (min-height: 1080px) {
    .planet {
        bottom: -100%;
    }
}

@media screen and (min-height: 1200px) {
    .planet {
        bottom: -110%;
    }
}

/* Animations */

@keyframes rocket-ani {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.025);
    }
}

@keyframes flame-ani-lg {
    0%, 25%, 60%, 100% {
        border-width: 6em 2em 0 2em;
    }
    10%,
    90% {
        border-width: 5em 2em 0 2em;
    }
    40% {
        border-width: 6em 2em 0 2em;
    }
}

@keyframes flame-ani {
    0%, 25%, 60%, 100% {
        border-width: 3em 1em 0 1em;
    }
    10%,
    90% {
        border-width: 2.5em 1em 0 1em;
    }
    40% {
        border-width: 3em 1em 0 1em;
    }
}

@keyframes planet-rotate-ani {
    0% {
        transform: rotate( 0deg);
    }
    100% {
        transform: rotate( -360deg);
    }
}
