* {
    margin: 0;
    padding: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

body {
    opacity: 1 !important;
    background: #1e1e1e;
}

/* Helpers */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Components */

section {
	padding: 50px;
}

section:first-child {
	padding: 0;
}

section .headerBlock {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    padding-bottom: 50px;
}

.blockquote {
	border-color: #C8102E;
	font-style: italic;
}

/* Navigation */

.navbar-inverse {
    background: #222;
    height: 60px;
    margin: 0;
    border: 0;
    border-radius: 0;
}

.navbar-collapse.collapse {
    text-align: center;
    /* Set this */
    
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

.navbar-nav li > a {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff !important;
    line-height: 30px;
}

.navbar-toggle {
	margin-top: 14px;
}

/* Home */

.home {
    height: calc(100% - 60px);
    height: calc(100vh - 60px);
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home .container {
	padding: 3rem;
	text-align: center;
	position: absolute;
	width: 100%;
}

.home #logo {
    /*position: absolute;*/
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
}

.rocket {
    position: absolute;
    /*top: 100px;*/
    /*margin-left: -100%;*/
/*    left: -75%;
    bottom: -100%;*/
    -webkit-transform: translate3d( 18em, -2em, 0) rotate(55deg);
    transform: translate3d( 18em, -2em, 0) rotate(55deg);
}

.fuselage {
    display: block;
    width: 12em;
    height: 13em;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: rocket-ani .8s linear infinite;
    animation: rocket-ani .8s linear infinite;
}

.contrail {
    position: absolute;
    top: 12.1em;
    left: 1em;
}

.tail {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 3em;
    border-width: 4em 1em 0 1em;
    border-style: solid;
    border-color: #D89B00 transparent;
    -webkit-animation: flame-ani-lg 3s ease-in-out infinite;
    animation: flame-ani-lg 3s ease-in-out infinite;
    z-index: -1;
}

.flame {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -6em;
    left: -1em;
    border-width: 4em 1em 0 1em;
    border-style: solid;
    border-color: #F6BE00 transparent;
    -webkit-animation: flame-ani 1.5s ease-in-out infinite;
    animation: flame-ani 1.5s ease-in-out infinite;
}

.planet {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 60em;
    max-height: 60em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: auto;
    /*background-color: #fff;*/
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: planet-rotate-ani 45s linear infinite;
    animation: planet-rotate-ani 45s linear infinite;
}

/* About */

.about {
    background: #eee;
}

.about .headerBlock {
	color: #C8102E !important;
}

.about p {
	font-size: 18px;
}

/* Mission */

.mission {
	background: #C8102E;
}

.mission .headerBlock {
	color: #fff !important;
}

/* FAQ */

.faq {

}

.faq .headerBlock {
	color: #fff !important;
}

/* Sponsors */

.sponsors {
	background: #fff;
}

.sponsors .headerBlock {
	color: #C8102E !important;
}

/* Footer */

.footer {
    background: #1e1e1e;
    color: #fff;
    font-size: 24px;
}

/* Animations */

@-webkit-keyframes rocket-ani {
    0%, 100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1, 1.025);
        transform: scale(1, 1.05);
    }
}

@keyframes rocket-ani {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.025);
    }
}

@-webkit-keyframes flame-ani-lg {
    0%, 25%, 60%, 100% {
        border-width: 6em 2em 0 2em;
    }
    10%,
    90% {
        border-width: 5em 2em 0 2em;
    }
    40% {
        border-width: 6em 2em 0 2em;
    }
}

@keyframes flame-ani-lg {
    0%, 25%, 60%, 100% {
        border-width: 6em 2em 0 2em;
    }
    10%,
    90% {
        border-width: 5em 2em 0 2em;
    }
    40% {
        border-width: 6em 2em 0 2em;
    }
}

@-webkit-keyframes flame-ani {
    0%, 25%, 60%, 100% {
        border-width: 3em 1em 0 1em;
    }
    10%,
    90% {
        border-width: 2.5em 1em 0 1em;
    }
    40% {
        border-width: 3em 1em 0 1em;
    }
}

@keyframes flame-ani {
    0%, 25%, 60%, 100% {
        border-width: 3em 1em 0 1em;
    }
    10%,
    90% {
        border-width: 2.5em 1em 0 1em;
    }
    40% {
        border-width: 3em 1em 0 1em;
    }
}

@-webkit-keyframes planet-rotate-ani {
    0% {
        -webkit-transform: rotate( 0deg);
        transform: rotate( 0deg);
    }
    100% {
        -webkit-transform: rotate( -360deg);
        transform: rotate( -360deg);
    }
}

@keyframes planet-rotate-ani {
    0% {
        transform: rotate( 0deg);
    }
    100% {
        transform: rotate( -360deg);
    }
}
